<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="EPPlus" version="4.5.1" targetFramework="net452" />
  <package id="ExpectedObjects" version="2.3.4" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="NuGet.CommandLine" version="4.6.2" targetFramework="net452" developmentDependency="true" />
  <package id="Selenium.Support" version="3.11.2" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.11.2" targetFramework="net452" />
</packages>