<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest" />
  </specFlow>
  <appSettings>
    <add key="BaseUrl" value="http://localhost:9090/" />
    <add key="BrowserType" value="Chrome" />
    <add key="BrowerDriverPath" value="C:\Libraries" />

    <add key="TestEnvironment" value="Dev"/>

    <add key="Dev_BaseUrl" value="http://localhost:9090/" />
    <add key="Test_BaseUrl" value="http://localhost:9090/" />
    <add key="QA_BaseUrl" value="http://localhost:9090/" />

    <add key="Dev_DBConnectString" value="Server=Server;Database=Database;Integrated Security=true" />
    <add key="Test_DBConnectString" value="Server=Server;Database=Database;Integrated Security=true" />
    <add key="QA_DBConnectString" value="Server=Server;Database=Database;Integrated Security=true" />
    
    <add key="UserName" value="UserName" />
    <add key="Password" value="Password" />
    <add key="EncryptionKey" value="EncryptionKey" />

    <add key="SQL_CommandTimeout" value="1000" />

    <add key="WAIT_FOR_DATA_PROCESSING_TIME" value="3000" />
    <add key="WAIT_UNTIL_DATA_PROCESSED_MAX_ATTEMPS" value="90" />
    <add key="WAIT_FOR_DATA_NOT_TO_BE_PROCESSED_TIME_SEC" value="250" />
    <add key="WAIT_UNTIL_DATA_NOT_PROCESSED_MAX_ATTEMPS" value="40" />
    <add key="FUTURE_INFINITY_DATE" value="2099-12-31 23:59:59.999" />
    <add key="PAST_INFINITY_DATE" value="2000-01-01 00:00:00.000" />
    <add key="TRANSFORMER_CONTROL_MAX_PROCESS_WINDOW_IN_HOURS" value="1000" />
  </appSettings>
</configuration>