<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <appSettings>    
    <add key="BrowserType" value="Chrome" />
    <add key="BrowserDriverPath" value="C:\Libraries" />

    <add key="TestEnvironment" value="Dev" />

    <add key="DevBaseUrl" value="https://google.com" />
    <add key="TestBaseUrl" value="http://localhost:9090/" />

    <add key="DevDbConnectString" value="Server=Server;Database=Database;Integrated Security=true" />
    <add key="TestDbConnectString" value="Server=Server;Database=Database;Integrated Security=true" />
    
    
    <add key="UserName" value="UserName" />
    <add key="Password" value="2G7yRRFSiuE6QO5fv2MvpE4xeoLrg9L43aHse7EwW94=" />
    <add key="EncryptionKey" value="EncryptionKey" />

    <add key="SQL_CommandTimeout" value="1000" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="MsTest" /></specFlow></configuration>